<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Overview</h5>
            <table *ngIf="info$ | async as info">
                <tr>
                  <td>Board Version:</td>
                  <td>{{info.boardVersion}}</td>
                </tr>
                <tr>
                    <td>ASIC Model:</td>
                    <td>{{info.ASICModel}}</td>
                </tr>
                <tr>
                  <td>Software Version:</td>
                  <td>{{info.version}}</td>
                </tr>
                <tr>
                  <td>WiFi Status:</td>
                  <td>{{info.wifiStatus}}</td>
                </tr>
                <tr>
                  <td>NerdDisplay Status:</td>
                  <td>{{info.nerdDisplayStatus && 'On' || 'Off'}}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td>{{info.uptimeSeconds | dateAgo}}</td>
                </tr>
                <tr>
                  <td>Latest Reset Reason:</td>
                  <td>{{info.resetReason}}</td>
                </tr>
                <tr>
                    <td>Free Heap Memory:</td>
                    <td>{{info.freeHeap}} Byte</td>
                </tr>
                <tr>
                  <td>Used NVStorage:</td>
                  <td>{{info.usedNVS}} %</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <h5>Realtime Logs <button pButton (click)="toggleLogs()" style="margin-left: 15px;"
                    class="btn btn-secondary">{{showLogs
                    ? 'Hide': 'Show'}}
                    Logs</button>

                <button pButton style="margin-left: 15px;" class="btn btn-secondary" (click)="stopScroll = !stopScroll"
                    *ngIf="showLogs">{{stopScroll ? 'Start' : 'Stop'}} Scrolling</button>
            </h5>

            <div *ngIf="showLogs" id="logs" #scrollContainer>
                <div *ngFor="let log of logs">₿ {{log | ANSI}}</div>
            </div>
        </div>
    </div>
</div>
